{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!DOCTYPE html>
<html lang="en">
    {% cms_toolbar %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% page_attribute "page_title" %}</title>
    <meta name="description" content="{% page_attribute "meta_description" %}" />

    <!-- Bootstrap Core CSS -->
    <link href="/static/themes/startbootstrap-creative/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/custom.css">


    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/static/themes/startbootstrap-creative/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/static/themes/startbootstrap-creative/css/creative.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">

    {% render_block "css" %}
    {% static_placeholder "header_snippet" %}

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">{% static_placeholder "brand" %}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% show_menu 0 1 100 100 "menu.html" %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    {% placeholder "menu" %}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="background">{% placeholder "background" %}</div>
        <div class="smoke"></div>
        <div class="header-content">
            <div class="header-content-inner">
                {% placeholder "header_content" %}
            </div>
        </div>
    </header>


    <div class="container-fluid breadcrumb"><ol class="breadcrumb container">{% show_breadcrumb 1 %}</ol></div>

    {% block content %}{% placeholder "content" %}{% endblock content %}

    {% static_placeholder "footer" %}

    <!-- jQuery -->
    <script src="/static/themes/startbootstrap-creative/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/themes/startbootstrap-creative/vendor/bootstrap/js/bootstrap.min.js"></script>


    <!-- Plugin JavaScript -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>-->
    <script src="/static/themes/startbootstrap-creative/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/static/themes/startbootstrap-creative/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/themes/startbootstrap-creative/js/creative.js"></script>

    {% render_block "js" %}
    {% static_placeholder "footer_snippet" %}

</body>

</html>
