{% load i18n easy_thumbnails_tags cms_tags %}

<article id="post-{{ post.slug }}" class="post-item">

    {% if image and post.main_image %}
        {% thumbnail post.main_image post.thumbnail_options.size crop=post.thumbnail_options.crop upscale=post.thumbnail_options.upscale subject_location=post.main_image.subject_location as thumb %}
		<div class="ui-114">
						<div class="ui-114-item">
							<div class="ui-114-img">
								<!-- Image -->
								<a href="{{ post.get_absolute_url }}" target="_top" class="lightbox"><img class="img-responsive" src="{{ thumb.url }}" alt="{{ post.main_image.default_alt_text }}" width="{{ thumb.width }}" height="{{ thumb.height }} " data-image="images/image1.jpg" data-description="Image 1 Description"/></a>
							</div>
							<!-- Image Box #6 Content -->
							<div class="ui-114-content">
								<h4><a href="{{ post.get_absolute_url }}" target="_top">{{ post.title }}</a></h4>
								{% if post.subtitle %}
                                <p>{{ post.subtitle }}</p>
                                {% endif %}
							</div>
						</div>
		</div>
    {% endif %}
    <div class="blog-lead">
        {% if not TRUNCWORDS_COUNT %}
            {% render_model post "abstract" "" "" "safe" %}
        {% else %}
            {% render_model post "abstract" "" "" "truncatewords_html:TRUNCWORDS_COUNT|safe"  %}
        {% endif %}
    </div>
    <div class="text-right">{{ post.date_published|date:"DATETIME_FORMAT" }}</div>
    <footer class="read-more text-right">
        <a href="{{ post.get_absolute_url }}" target="_top">{% trans "read more" %} &raquo;</a>
    </footer>
</article>
