{% load i18n %}{% spaceless %}
{% block css %}
		<link href="/static/css/style-114.css" rel="stylesheet">
    	<link href="/static/css/magnific-popup.css" rel="stylesheet">


{% endblock css %}


<div class="plugin plugin-blog">
    <div class="blog-latest-entries">
    {% for post in posts_list %}
        {% include "djangocms_blog/main_page/blog_item.html" with post=post image="true" TRUNCWORDS_COUNT=TRUNCWORDS_COUNT %}
    {% empty %}
    <p class="blog-empty">{% trans "No article found." %}</p>
    {% endfor %}
    </div>
</div>
{% endspaceless %}