{% load cms_tags staticfiles sekizai_tags menu_tags account mptt_tags easy_thumbnails_tags %}
<!doctype html>
<html>
    {% cms_toolbar %}

    <head>
        <meta charset="utf-8">
        <title>{% page_attribute "page_title" %}</title>
        <meta name="description" content="{% page_attribute "meta_description" %}" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/static/bootswatch/cosmo/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/custom1.css">
        <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
        {% render_block "css" %}
        {% static_placeholder "header_snippet" %}
    </head>
    <body>
      <nav class="min-menu navbar navbar-default navbar-inverse navbar-fixed-top" style="margin-bottom: 0px;">
         <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="/"><img src="/static/img/logo.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          {% show_menu 0 1 100 100 "menu.html" %}
          <li><a href="/forum/">Форум</a></li>

          {% if user.is_authenticated %}
                <li> |
                <span>Вы вошли как, {% user_display user %}</span>
                <a href="/accounts/logout" class="btn-link">Выйти</a>
                </li>
                {% else %}
                <li> |
                <a href="/accounts/login" class="btn-link">Войти</a> или
                <a href="/accounts/signup"class="btn-link">Зарегистрироваться</a>
                </li>
                {% endif %}

      </ul>

            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container-fluid -->
      </nav>
      <nav class="full-menu navbar-inverse navbar-fixed-top" style="margin-bottom: 0px;">
         <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
               <div class="col-lg-2">
                       <div class="navbar-header">
                                 <a class="navbar-brand" href="/"><img src="/static/img/logo.png"></img></a>
                       </div>
               </div>
               <div class="col-lg-9">
                  <div id="bs-example-navbar-collapse-1" style="display: none">
      <ul class="nav navbar-nav">
          {% show_menu 0 1 100 100 "menu.html" %}
          <li><a href="/forum/">Форум</a></li>

          {% if user.is_authenticated %}
                <li> |
                <span>Вы вошли как, {% user_display user %}</span>
                <a href="/accounts/logout" class="btn-link">Выйти</a>
                </li>
                {% else %}
                <li> |
                <a href="/accounts/login" class="btn-link">Войти</a> или
                <a href="/accounts/signup"class="btn-link">Зарегистрироваться</a>
                </li>
                {% endif %}

      </ul>

                  </div>
               </div>
               <div class="col-lg-1">
                  <button type="button" class="button-menu">
                  <i class="fas fa-bars"></i>
                  <span>Menu</span>
                  </button>
               </div>
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container-fluid -->
         <style>
            .button-menu {
            line-height: 50px;
            background: transparent;
            font-size: 20px;
            color: #fff;
            float: left;
            border: 0;
            outline: none;
            }
            .full-menu {
            display: none;
            }
            .min-menu {
            display: block;
            }
            @media screen and (min-width: 770px) {
            .full-menu {
            display: block;
            }
            .min-menu {
            display: none;
            }
            }
             button.button-menu>span {
                 width: 1%;
                 display: inline-block;
             }

             button.button-menu>i {
                 display: inline-block;
             }

             .card {
                 background-color: #f5f5f5;
                 border: 1px #f5f5f5 solid;
                 margin: 5px -10px 5px -10px;
                 padding: 0 10px 0 10px;
             }

             .site {
                 background-color: #f5f5f5;
                 padding-bottom: 10px;
                 margin-bottom: 5px;
             }

             .height50 {
                 height: 50px;
             }

         </style>

      </nav>
        <!--<div class="container-fluid breadcrumb"><ol class="breadcrumb container">{% show_breadcrumb 1 %}</ol></div>-->

        {% block content %}
            {% load namify %}

<ul class="breadcrumb">
    <li><a href="/catalog/">Каталог</a></li>

    {% for category in instance.get_ancestors %}
        <li><a href="/catalog/{{ category.get_full_slug }}/">{{ category.name }}</a></li>
    {% endfor %}

    <li><a href="/catalog/{{ instance.get_full_slug }}">{{ instance.name }}</a></li>
</ul>

<div class="container-fluid">
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"><h2>{{instance.name}}</h2>
{% if  instance.children.all %}
    <h4>Подкатегории</h4>
    {% for i in instance.children.all %}
        <a href="{{ i.slug }}"> {{ i.name }} </a><br>
    {% endfor %}

    <br><hr>
{% endif %}
</div>


<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
    <div class="container-fluid">
    {% for i in sites %}
        {% if i.published %}
        <div class="row site">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <a href="{{ i.url }}" {% if not i.nofollow %}{% elif i.payed > today.date %}{% else %}rel="nofollow"{% endif %} target="_blank"><h3>{{ i.name }}</h3></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a href="{{ i.url }}" {% if not i.nofollow %}{% elif i.payed > today.date %}{% else %}rel="nofollow"{% endif %} target="_blank">
                    {% thumbnail i.picture 400x250 upscale crop as thumb %}
                    <img class="img-responsive" src="{{ thumb.url }}">
                </a>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-4 col-xs-12">
                <p><b>Адрес сайта:</b> <a href="{{ i.url }}" {% if not i.nofollow %}{% elif i.payed > today.date %}{% else %}rel="nofollow"{% endif %} target="_blank">{{ i.url }}</a></p>

                {% if i.city %}
                    <p><b>Город:</b> {{ i.city }}</p>
                {% endif %}

                {% if i.address %}
                    <p><b>Адрес:</b> {{ i.address }}</p>
                {% endif %}

                <p><b>Описание сайта:</b> {{ i.description }}</p>

            </div>
        </div>
        {% endif %}
    {% endfor %}

    <div class="height50"></div>
</div>

</div>


</div>

</div>

        {% endblock content %}
        {% static_placeholder "footer" %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
         <script>
            jQuery(document).ready(function($) {

            	var menuStatus = false

            	$('.button-menu').click(function(event) {
            		$('.full-menu #bs-example-navbar-collapse-1').fadeToggle();

            		!menuStatus ? $(this).children('i').addClass('fa-times').removeClass('fa-bars')
            			: $(this).children('i').addClass('fa-bars').removeClass('fa-times')

            		menuStatus = !menuStatus
            	});

            });

         </script>
        {% render_block "js" %}
        {% static_placeholder "footer_snippet" %}

        <nav id="footerNav" class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
        <div class="container">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="navbar-brand page-scroll" href="http://flyper.ru/"><b>meta search</b> FlaYper</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    </body>
</html>





