{% load i18n %}{% spaceless %}
{% block css %}
		<link href="/static/css/style-114.css" rel="stylesheet">
    	<link href="/static/css/magnific-popup.css" rel="stylesheet">


{% endblock css %}


<div class="plugin plugin-blog">
    <div class="blog-latest-entries">
    <div class="container-fluid">
        <div class="row">
            {% for post in posts_list|slice:"1:3" %}
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                {% include "djangocms_blog/news 2-3/blog_item.html" with post=post image="true" TRUNCWORDS_COUNT=TRUNCWORDS_COUNT %}
                </div>
            {% empty %}
            <p class="blog-empty">{% trans "No article found." %}</p>
        {% endfor %}
        </div>
    </div>
    </div>
</div>
{% endspaceless %}