{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!DOCTYPE html>
<html lang="ru">
    {% cms_toolbar %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% page_attribute "page_title" %}</title>
    <meta name="description" content="{% page_attribute "meta_description" %}" />

    <!-- Bootstrap Core CSS -->
    <link href="/static/themes/tyutrin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="/static/themes/tyutrin/css/agency.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% render_block "css" %}
    {% static_placeholder "header_snippet" %}

</head>


<body id="page-top" class="index">

       <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% show_menu 0 1 100 100 "menu.html" %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    {% placeholder "menu" %}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><img src="/static/themes/tyutrin/logo.png" class="img-responsive"></div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"><img src="/static/themes/tyutrin/color-bar.png" class="img-responsive"></div>
            </div>
        </div>

    </nav>

    {% block content %}{% placeholder "content" %}{% endblock content %}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-left">
                   <div class="fa-2x text-muted">
                        <a href="https://www.instagram.com/art_tyutrin/"><i class="fab fa-instagram fa-fw"></i></a>
                        <a href="https://www.facebook.com/peter.tyutrin"><i class="fab fa-facebook-f fa-fw"></i></a>
                        <a href="https://www.pinterest.ru/art_tyutrin/"><i class="fab fa-pinterest fa-fw"></i></a>
                   </div>
                </div>
                <div class="col-md-8">
                    <div class="copyright text-right">COPYRIGHT &copy; 2018-2019 ПЕТР ТЮТРИН</div>
                </div>
            </div>
        </div>
    </footer>



    <!-- jQuery -->
    <script src="/static/themes/tyutrin/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/themes/tyutrin/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/themes/tyutrin/js/jqBootstrapValidation.js"></script>
    <script src="/static/themes/tyutrin/js/contact_me.js"></script>

    <!-- Theme JavaScript
    <script src="/static/themes/tyutrin/js/agency.min.js"></script>-->
    <script type="text/javascript">
    $(document).ready(function(e) {
       var h = $('nav').height() + 30;
       $('body').animate({ paddingTop: h });
    });
    </script>

    {% render_block "js" %}
    {% static_placeholder "footer_snippet" %}

</body>

</html>
