a.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

a.navbar-brand > img {
    height: 100%;
}

div.background > div {
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
}

div.smoke {
    background-color: rgba(62, 62, 62, 0.7);
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.navbar {
    border-radius: 0;
}

.breadcrumb {
    margin-bottom: 0;
}

ul.nav>li>a {
    display: inline-block;
}

@media (max-width: 767px) {
    ul.nav>li>a {
    display: block;
}
}

div.button-wrapper {
    padding-top: 10px;
}

div.field-wrapper {
    padding-top: 10px;
}