a.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

a.navbar-brand > img {
    height: 100%;
}

div.background > div {
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
}

div.smoke {
    background-color: rgba(62, 62, 62, 0.7);
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.navbar {
    border-radius: 0;
}

.breadcrumb {
    margin-bottom: 0;
}

ul.nav>li>a {
    display: inline-block;
}

@media (max-width: 767px) {
    ul.nav>li>a {
    display: block;
}
}

div.button-wrapper {
    padding-top: 10px;
}

div.field-wrapper {
    padding-top: 10px;
}

body{
    background-color: #efefef;
    margin-top: 50px;
    margin-bottom: 50px;
}

.post-detail li {
    list-style-type: none;
}

.tags li{
    display: inline;
    margin-right: 5px;
    margin-bottom: 14px;
}

ul.post-detail {
    padding: 0;
}

.post-item {
    border-bottom: 0px #000000 solid;
    padding: 10px;
}

.margin-top20{
    margin-top: 20px;
}

.post-detail a {
    margin-bottom: 3px;
}

.blog-list article.post-detail {
    border: 1px #000000 solid;
}

.background-black {
    background-color: #000000;
}