<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
        <link rel="stylesheet" href="/static/bootswatch/cosmo/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/custom1.css">
  </head>
  <body>
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <strong>Flyper.ru</strong>
          <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'account_email' %}">Сменить e-mail</a></li>
            <li><a href="{% url 'account_logout' %}">Выйти</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}">Войти</a></li>
            <li><a href="{% url 'account_signup' %}">Зарегистрироваться</a></li>
            {% endif %}
          </ul>
          </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    {% block content %}
    {% endblock %}
    </div>
    </div>
    </div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
