{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html>
    {% cms_toolbar %}

    <head>
        <meta charset="utf-8">
        <title>{% page_attribute "page_title" %}</title>
        <meta name="description" content="{% page_attribute "meta_description" %}" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/static/bootswatch/cosmo/bootstrap.min.css">
        <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
        <style>
            body {
                background-color: #efefef;
            }
            hr {
                color: #656565;
            }
        </style>
        {% render_block "css" %}
        {% static_placeholder "header_snippet" %}

    </head>
    <body>

        {% block content %}{% placeholder "content" %}{% endblock content %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
        {% render_block "js" %}
        {% static_placeholder "footer_snippet" %}
    </body>
</html>





