{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html>
    {% cms_toolbar %}

    <head>
        <meta charset="utf-8">
        <title>{% page_attribute "page_title" %}</title>
        <meta name="description" content="{% page_attribute "meta_description" %}" />

        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/static/bootswatch/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/custom.css">
        <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
        {% render_block "css" %}
        {% static_placeholder "header_snippet" %}
    </head>
    <body>

<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{% static_placeholder "brand" %}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          {% show_menu 0 1 100 100 "menu.html" %}
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

        <div class="container-fluid breadcrumb"><ol class="breadcrumb container">{% show_breadcrumb 1 %}</ol></div>

        {% block content %}{% placeholder "content" %}{% endblock content %}
        <hr>
        {% static_placeholder "footer" %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
        {% render_block "js" %}
        {% static_placeholder "footer_snippet" %}
    </body>
</html>





