{% load cms_tags staticfiles sekizai_tags menu_tags account %}
<!doctype html>
<html>
    {% cms_toolbar %}

    <head>
        <meta charset="utf-8">
        <title>{% page_attribute "page_title" %}</title>
        <meta name="description" content="{% page_attribute "meta_description" %}" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/static/bootswatch/cosmo/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/custom1.css">
        <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
        {% render_block "css" %}
        {% static_placeholder "header_snippet" %}
    </head>
    <body>
      <nav class="min-menu navbar navbar-default navbar-inverse navbar-fixed-top" style="margin-bottom: 0px;">
         <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="/"><img src="/static/img/logo.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          {% show_menu 0 1 100 100 "menu.html" %}
          <li><a href="/catalog/">Каталог сайтов</a></li>
          <li><a href="/forum/">Форум</a></li>

          {% if user.is_authenticated %}
                <li> |
                <span>Вы вошли как, {% user_display user %}</span>
                <a href="/accounts/logout" class="btn-link">Выйти</a>
                </li>
                {% else %}
                <li> |
                <a href="/accounts/login" class="btn-link">Войти</a> или
                <a href="/accounts/signup"class="btn-link">Зарегистрироваться</a>
                </li>
                {% endif %}

      </ul>

            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container-fluid -->
      </nav>
      <nav class="full-menu navbar-inverse navbar-fixed-top" style="margin-bottom: 0px;">
         <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
               <div class="col-lg-2">
                       <div class="navbar-header">
                                 <a class="navbar-brand" href="/"><img src="/static/img/logo.png"></img></a>
                       </div>
               </div>
               <div class="col-lg-9">
                  <div id="bs-example-navbar-collapse-1" style="display: none">
      <ul class="nav navbar-nav">
          {% show_menu 0 1 100 100 "menu.html" %}
          <li><a href="/catalog/">Каталог сайтов</a></li>
          <li><a href="/forum/">Форум</a></li>

          {% if user.is_authenticated %}
                <li> |
                <span>Вы вошли как, {% user_display user %}</span>
                <a href="/accounts/logout" class="btn-link">Выйти</a>
                </li>
                {% else %}
                <li> |
                <a href="/accounts/login" class="btn-link">Войти</a> или
                <a href="/accounts/signup"class="btn-link">Зарегистрироваться</a>
                </li>
                {% endif %}

      </ul>

                  </div>
               </div>
               <div class="col-lg-1">
                  <button type="button" class="button-menu">
                  <i class="fas fa-bars"></i>
                  <span>Menu</span>
                  </button>
               </div>
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container-fluid -->
         <style>
            .button-menu {
            line-height: 50px;
            background: transparent;
            font-size: 20px;
            color: #fff;
            float: left;
            border: 0;
            outline: none;
            }
            .full-menu {
            display: none;
            }
            .min-menu {
            display: block;
            }
            @media screen and (min-width: 770px) {
            .full-menu {
            display: block;
            }
            .min-menu {
            display: none;
            }
            }
             button.button-menu>span {
                 width: 1%;
                 display: inline-block;
             }

             button.button-menu>i {
                 display: inline-block;
             }

         </style>

      </nav>
        <!--<div class="container-fluid breadcrumb"><ol class="breadcrumb container">{% show_breadcrumb 1 %}</ol></div>-->

        {% block content %}{% placeholder "content" %}{% endblock content %}
        {% static_placeholder "footer" %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
         <script>
            jQuery(document).ready(function($) {

            	var menuStatus = false

            	$('.button-menu').click(function(event) {
            		$('.full-menu #bs-example-navbar-collapse-1').fadeToggle();

            		!menuStatus ? $(this).children('i').addClass('fa-times').removeClass('fa-bars')
            			: $(this).children('i').addClass('fa-bars').removeClass('fa-times')

            		menuStatus = !menuStatus
            	});

            });

         </script>
        {% render_block "js" %}
        {% static_placeholder "footer_snippet" %}

        <nav id="footerNav" class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
        <div class="container">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="navbar-brand page-scroll" href="http://flyper.ru/"><b>meta search</b> FlaYper</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    </body>
</html>





