{% extends MACHINA_BASE_TEMPLATE_NAME %}
{% load static %}
{% load i18n %}
{% load forum_permission_tags account menu_tags %}

{% block title %}{{ MACHINA_FORUM_NAME|default:"Forum" }} &mdash; {% block sub_title %}{% endblock sub_title %}{% endblock title %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/machina.board_theme.vendor.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/machina.board_theme.min.css' %}" />
<link rel="stylesheet" href="/static/bootswatch/cosmo/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/custom1.css">
        <link rel="apple-touch-icon" sizes="57x57" href="/static/flyper/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/flyper/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/flyper/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/flyper/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/flyper/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/flyper/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/flyper/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/flyper/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/flyper/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/static/flyper/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/flyper/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/flyper/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/flyper/favicon/favicon-16x16.png">
        <link rel="manifest" href="/static/flyper/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/static/flyper/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
{% endblock css %}

{% block body %}
{% block header %}
<div class="navbar-fixed-top-spacing">&nbsp;</div>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" style="margin-bottom: 0px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/static/img/logo.png"></img></a>
      <ul class="nav navbar-nav">
      <li>
      <a class="navbar-brand" href="/forum/">Форум</a>
      </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse navbar-left" id="bs-example-navbar-collapse-1">

            <form class="navbar-form form-inline" role="search" action="{% url 'forum_search:search' %}">
          <div class="form-group col-sm-6 col-md-7">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Найти на форуме..." name="q">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <a href="{% url 'forum_search:search' %}" class="btn btn-link">{% trans "Advanced search" %}</a>
          </div>
        </form>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right background_black" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
          {% show_menu 0 1 100 100 "menu.html" %}
          <li><a href="/forum/">Форум</a></li>

          {% if user.is_authenticated %}
                <li> |
                <span>Вы вошли как, {% user_display user %}</span>
                <a href="/accounts/logout/?next={% firstof request.path '/' %}" class="btn-link">Выйти</a>
                </li>
                {% else %}
                <li> |
                <a href="/accounts/login/?next={% firstof request.path '/' %}" class="btn-link">Войти</a> или
                <a href="/accounts/signup/?next={% firstof request.path '/' %}" class="btn-link">Зарегистрироваться</a>
                </li>
                {% endif %}

      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock header %}
<div class="container" id="main_container">
  <div class="row">
    <div class="col-xs-12">
      {% block breadcrumb %}{% include "partials/breadcrumb.html" %}{% endblock breadcrumb %}
      <div class="pull-right controls-link-wrapper">
      {% if not request.user.is_anonymous %}
        <a href="{% url 'forum_member:user_subscriptions' %}" class="btn btn-link"><i class="fa fa-bookmark-o ">&nbsp;</i>{% trans "Subscriptions" %}</a>
        <a href="{% url 'forum_member:user_posts' request.user.id %}" class="btn btn-link"><i class="fa fa-comments-o ">&nbsp;</i>{% trans "View my posts" %}</a>
      {% endif %}
      {% get_permission 'can_access_moderation_queue' request.user as can_access_moderation_queue %}
      {% if can_access_moderation_queue %}
        <a href="{% url 'forum_moderation:queue' %}" class="btn btn-link"><i class="fa fa-gavel">&nbsp;</i>{% trans "Moderation queue" %}</a>
      {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br />
      {% block messages %}{% include "partials/messages.html" %}{% endblock messages %}
    </div>
  </div>
  {% block content %}
  {% endblock content %}
</div>
{% endblock body %}

{% block js %}
{{ block.super }}
<script src="{% static 'js/machina.packages.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/machina.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(function() {
    machina.init();
    {% block onbodyload %}{% endblock onbodyload %}
  });
</script>
{% endblock js %}
