{% load i18n easy_thumbnails_tags cms_tags %}

<article id="post-{{ post.slug }}" class="post-item">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        {{ post.date_published|date:"DATETIME_FORMAT" }}
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <b><a href="{{ post.get_absolute_url }}" target="_top">{{ post.title }}</a></b>
    </div>

</article>
