{% load i18n %}{% spaceless %}
<div class="plugin plugin-blog">
    <div class="blog-latest-entries">
        <div class="container-fluid">
        <hr>
        {% for post in posts_list|slice:"3:8" %}
            <div class="row">{% include "djangocms_blog/news 4-8/blog_item.html" with post=post image="true" TRUNCWORDS_COUNT=TRUNCWORDS_COUNT %}</div><hr>
        {% empty %}
        <p class="blog-empty">{% trans "No article found." %}</p>
        {% endfor %}
        </div>
    </div>
</div>
{% endspaceless %}