{% load i18n thumbnail cms_tags %}

<ul class="post-detail">
    {% if post.author %}
    <li>
        {% trans "author"|capfirst %} <a href="{% url 'djangocms_blog:posts-author' post.author.get_username %}">{% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}{{ post.author }}{% endif %}</a>,
    </li>
    {% endif %}
    <li>
        Опубликовано {{ post.date_published|date:"DATE_FORMAT" }}
    </li>
</ul>
<ul class="post-detail tags">
    {% if post.categories.exists %}
        Категории:
        {% for category in post.categories.all %}
            {% if category.slug %}
                <li class="category_{{ forloop.counter }}"><a href="{% url 'djangocms_blog:posts-category' category=category.slug %}" class="blog-categories-{{ category.count }} btn btn-default btn-sm">{{ category.name }}</a>{% if not forloop.last %}   {% endif %}  </li>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if post.tags.exists %}
        Тэги:
        {% for tag in post.tags.all %}
            <li class="tag_{{ forloop.counter }}"><a href="{% url 'djangocms_blog:posts-tagged' tag=tag.slug %}" class="blog-tag blog-tag-{{ tag.count }} btn btn-success btn-sm">{{ tag.name }}</a>{% if not forloop.last %}   {% endif %}  </li>
        {% endfor %}
    {% endif %}
</ul>